Actividad2_Concesionario/Concesionario.dtd

<!ELEMENT concesionario (coches*)>
<!ELEMENT coches (coche*)>
<!ELEMENT coche (codigo,marca, modelo,matricula,potencia,plazas,numero_puerta)>
<!ATTLIST coche id CDATA #REQUIRED>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numero_puerta (#PCDATA)>