Actividad4_Clientes/Clientes.dtd

<!ELEMENT Clientes (sede*)>
<!ELEMENT sede (direccion, codigo, empleado, fecha_alta,descripcion_cliente,cliente*)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT empleado (#PCDATA)>
<!ELEMENT fecha_alta (#PCDATA)>
<!ELEMENT descripcion_cliente (#PCDATA)>
<!ELEMENT cliente (numero_viv, coste,resumen, plazo)>
<!ELEMENT numero_viv (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>