Actividad4_Clientes/Clientes.dtd

<!ELEMENT Gestoria (cliente*)>
<!ELEMENT cliente (sede*,clienteNdatos*)>
<!ELEMENT sede (codigo, nombre, fecha_alta,descripcion_cliente)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha_alta (#PCDATA)>
<!ELEMENT descripcion_cliente (#PCDATA)>
<!ELEMENT clienteNdatos (codigo_cliente, numero, coste,resumen, plazo)>
<!ELEMENT codigo_cliente (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>